---
import technologies from '../../public/technologies.json'
import Card from "./Card.astro";
import DynamicText from "./DynamicText.astro";
import RenderTech from "./RenderTech.astro";



---

<section class="my-4" id="techstack">
    <Card className="w-fit my-6">
        <DynamicText tag="h2" variant='gradient'>What is my technology stack?</DynamicText>
    </Card>
    <div>
      <h3><DynamicText>Languages.</DynamicText></h3>
      <RenderTech technologies={technologies.languages} />
    </div>
    <div>
      <h3><DynamicText>Frameworks.</DynamicText></h3>
      <RenderTech technologies={technologies.frameworks} />
    </div>
    <div>
      <h3><DynamicText>Libraries.</DynamicText></h3>
      <RenderTech technologies={technologies.libraries} />
    </div>
    <div>
      <h3><DynamicText>ORM's.</DynamicText></h3>
      <RenderTech technologies={technologies.orms} />
    </div>
    <div>
      <h3><DynamicText>Database.</DynamicText></h3>
      <RenderTech technologies={technologies.dbs} />
    </div>
    <div>
      <h3><DynamicText>Other.</Text></h3>
      <RenderTech technologies={technologies.other} />
    </div>
  </section>
  <div id="menu-backdrop" class="bg-gradient-to-r from-slate-50 via-white to-slate-50 dark:border-custom-dark-v2 dark:from-custom-dark-v2 dark:via-custom-dark dark:to-custom-dark-v2 rounded backdrop-blur-sm -z-[1] shadow-lg fixed p-2 dark:bg-black/90 w-[var(--width)] h-[var(--height)] top-0 left-0 translate-x-[var(--left)] translate-y-[var(--top)] transition-all duration-200 ease-in hidden opacity-0" />
